
            h1{
                font-size: 3em;
            }
            body{
                background-color:rgb(230, 330, 100);
                
            }
            h2 {
                color:blueviolet;
                font-size: 2em;
                font-style: italic;
            }
            #paragrafo{
                background-color:aquamarine;
                font-family: Arial, Helvetica, sans-serif;
                line-height:30px;
                text-align:center;
                width: 500px;
                border: 5px solid black;
            }
            .lista{
                background-color: black;
                color:hotpink;
                font-size: 20px;
                line-height: 20px;
                font-weight: bold;
                text-decoration:underline;
                width: 70px;
                padding-left: 220px;
            }
            img{
                border-radius: 3%;
            }
            #span{
                color:firebrick;
            }
            #exp{
                width: 500px;
                overflow: auto;
                height: 80px;
                background-color: white;
            }
            #dog{
                position: absolute;
                width: 500px;
            }
            #oculos{
                position:absolute;
                width: 100px;
                top: 870px;
                left: 200px;
            }
            li:hover{
                background-color: darkslategrey;
            }
            li:active{
                color:white
            }
        